@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
body {
    background-color: #256DB1;
    color: #fff;
    margin: auto;
    font-family: 'Montserrat' , sans-serif;
}
.lists {
  margin-top: -100px;
}
footer {
  margin: 50px 0;
  text-align: center;
  font-size: 5vh;
}